body{
    background: rgb(195, 192, 192);
}

.heading{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.heading2{
    text-decoration: underline;
}
.box{
    width: 100%;
}
.para1{
    width: 952;
    height: 90px;
    border: 1px solid black;
    background-color: rgb(20, 219, 156);
    padding: 40px;
    margin: 10px;

}
.para2{
    width: 952;
    height: 90px;
    border: 1px solid black;
    background-color: rgb(195, 74, 149);
    padding: 40px;
    margin: 10px;
    
}
.para3{
    width: 952;
    height: 90px;
    border: 1px solid black;
    background-color: rgb(215, 126, 17);
    padding: 40px;
    margin: 10px;
    
}