@font-face {
    font-family: thex;
    src: url(../Fonts/TruenoLight-E2pg.otf);
}
.ModalDialog{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0,0.7) ;
    z-index: 999;
    opacity: 0;
    transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -webkit-transition: opacity 100ms ease-in;
    -ms-transition: opacity 100ms ease-in;
    pointer-events: none;
}
.ModalDialog:target{
    opacity: 1;
    pointer-events: auto ;
}
.ModalDialog > section{
    width: 30%;
    height: 60%;
    position: relative;
    margin: 8% auto;/*topbottom rightleft*/
    padding: 30px 20px;/*topbottom rightleft*/
    border-radius: 10px;
    background: #2B2118;

}
.close{
    position: absolute;
    right: -12px;
    top: -12px;
    background: #F0DCC5;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 40px;
    border-radius: 50%;
    transition: .1s;
    line-height: 40px;
    font-family: "thex";
    font-weight: bold;
    font-size: 20px;
}
.close:hover{
    background-color: #b21f2a;
    color: white;
}
.Modalimg{
    margin-top: 10px;
    border: 1px solid white;
}
.Modalimg3{
    margin-top: 10px;
    border: 2px solid white;
}