/*REST*/
*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul{
    list-style: none;
}
@font-face {
    font-family: "cafe font";
    src: url(../Fonts/RobbyHaydenDemo-6R5po.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Roboto", sans-serif;*/
html{
    text-align: center;
    background: #F0DCC5;
}
body{
    font-family: "cafe font";
    color: white;
}
main{
    width: 96%;
    max-width: 2000px;
    margin: auto;
    padding: 2%;

}
.logo{
    width: 100px;
    height: 100px;
    float: left;
    background-image: url(../Images/logo.png) no-repeat;
    transition: 0.08s;
}
.logo:hover{
    transform: scale(1.1);
}
nav .navv{
    float: right;
    margin: 30px 10px 0px 0px;
}
nav li{
    display: inline;
    margin-left: 7px;
}
nav a{
    color:#2B2118;
    font-weight: bolder;
    text-decoration: none;
    margin-left:10px;
}
nav a:hover{
    color: red;
}    
/*****************************CONTACT PAGE**************************/
.contactus{
    width: 100%;
}
.contactbox{
    width: 60%;
    padding: 0 18px; /*topbottom-rightleft*/
    display: table-cell;
    color: #2B2118;
}
.para{
    margin-top: 10px;
    font-size: 20px;
}
.contactinfo{
    font-family: "Roboto";
    margin-top: 15px;
}
.sidebar{
    width: 30%;
    background-color:#2B2118;
    display: table-cell;
}
.text{
    width: 20%;
    position: absolute;
    top: 200px;
}
.coontactimg{
    width: 100%;
}
.contactheader{
    clear: both;
}
.footertext{
    clear: both;
    display: inline-block;
    width: 40%;
    margin: auto;
    padding: 30px;
    font-family: "sans-serif";
    font-size: 0.875em;
    color: #2B2118;
}