/*REST*/
*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul{
    list-style: none;
}
@font-face {
    font-family: "cafe font";
    src: url(../Fonts/RobbyHaydenDemo-6R5po.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Roboto", sans-serif;*/
html{
    text-align: center;
    background: #F0DCC5;
}
body{
    font-family: "cafe font";
    color: #2B2118;
}
main{
    width: %;
    max-width: 2000px;

}
.bigimage{
    width: 90%;
    height: 420px;
}
.logo{
    height: 100px;
    padding-left: 90px;
    display: inline;
    background-image: url(../Images/logo.png) no-repeat;
    transition: 0.08s;
}
.logo:hover{
    transform: scale(1.1);
}
header{
    display: flex;
 
}
nav .navv{
    float: right;
    padding:20px 0px 0px 980px;
}
nav li{
    display: inline;
    margin-left: 7px;
    cursor: pointer;
}
nav li:hover{
    transform: scale(1.1);
}
nav a{
    color:#2B2118;
    font-weight: bolder;
    text-decoration: none;
    margin-left:10;
}
nav a:hover{
    color: red;
}
section h1{
    padding: 5px;
}
.words {
    float: left;
    width: 800px;
    padding-left: 75px;
    padding-top: 10px;
}
aside h1{
    padding: 5px;
}
.words2{
    float: right;
    width: 500px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
}
.footertext{
    clear: both;
    width: 100%;
    height: 65px;
    font-family: "sans-serif";
    background-color: #2B2118;
    color: white;
}
.footerimg{
    position: absolute;
    width: 3%;
    top: 93%;
    left: 40%;
}
.footadjustment{
    position: absolute;
    width: 20%;
    top: 94.5%;
    left: 43%;
}
