h1{
    width: 190px;
    height: 60px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}
.box2{
    width: 300px;
    height: 100px;
    border: 2px solid green;
    margin: 50px 50px 90px;
}
.box3{
    width: auto;
    height: auto;
    border: 2px solid skyblue;
    box-sizing: border-box;
    margin: 30px 91px;
}
/* IN inline tags there wont be any
   separate space for box it will be
   till the content thats why it is called 
   inline tag.
   If we want to change the "inline" tag like
   span into block level element we should
   mention display: block. Then this will
   change into block type element and now 
   we can apply height width also
*/
span{
    height: 140px;
    width: 20px;   
    border: 2px solid red;

    /*till here i didnt used block operation
      in inline tag, now i will use*/
    
    display: block;
}